caption
{
	font: italic bold Georgia, serif;
	font-size: 30;
	color: red;
}
h1
{
	color: #62471d;
}

html
{
	background-color:#ffff9a;
	vertical-align: middle;
}

a{
	color: red;

}

input.vertical 
{ -webkit-appearance: slider-vertical; writing-mode: bt-lr; }

.food
{
	text-align: middle;
	background-color: #cdff80;
	border-radius: 0 30px 30px 0;
	padding-left: 30px;
}

.fun
{
	text-align: middle;
	background-color: #006872;
	border-radius: 0 30px 30px 0;
	padding-left: 30px;
}