caption
{
	font: italic bold Georgia, serif;
	font-size: 30;
	color: red;
}
h1
{
	color: #62471d;
}
html
{
	vertical-align: center;
	text-align: center;
	font-size: 25;
}
body
{
		background-color:#ffff9a;
}

a{
	color: red;
	text-decoration: none;
	font-size: 30;

}
h2
{
	text-decoration: none;
}
h3
{
	font-size: 30;
}
img
{
	border-radius: 5%;
}
input.vertical 
{ -webkit-appearance: slider-vertical; writing-mode: bt-lr; }

.content
{
	width: 100%;
	height: 30%;

	border-radius: 5%;
	overflow: hidden;
	background-color: blue;
}

.buttons
{

	padding-right: 5%;
	padding-top: 20px;
	float: left;
	width: 66%;


}

.buttonsD
{
	font-size: 200%;
}

.slider
{
	background-color: red;
	float: right;
	width: 25%;
	font-size: 20;
	position: relative;
	height: 100%;
}
.food
{
	background-color: #CC632A;
	border-radius: 0 30px 30px 0;
	padding-left: 30px;
	font-size: 30;
	color:#5D3216;
}
.food:hover
{
	background-color: #5D3216;
	color: #CC632A
}

.fun
{
	background-color: #B1C455;
	border-radius: 0 30px 30px 0;
	padding-left: 30px;
	color: #647448;
}

.fun:hover
{
	background-color: #647448;
	color: #B1C455;
}

.navigation
{
	bottom: 2%;
	position: absolute;
	width: 100%;
}
ul#menu {
	position: absolute;
    padding: 0;
}

ul#menu li {
    display: inline;
    width: 25%;
}

ul#menu li a {
    background-color: tan;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
    width: 25%;
}

ul#menu li a:hover {
    background-color: silver;
}