
caption
{
	font: italic bold Georgia, serif;
	font-size: 30;
	color: red;
}
h1
{
	color: #62471d;
}

html
{
	background-color:#ffff9a;
	vertical-align: center;
	text-align: center;
}

a{
	color: red;
	text-decoration: none;
	font-size: 30;

}
h2
{
	text-decoration: none;
}
h3
{
	font-size: 30;
}

input.vertical 
{ -webkit-appearance: slider-vertical; writing-mode: bt-lr; }

.buttons
{

	padding-top: 20px;
	float: left;
	width: 66%;

}

.slider
{
	float: right;
	width: 34%;
	font-size: 20;
	right: 50px;
	position: relative;
}
.food
{
	background-color: #cdff80;
	border-radius: 0 30px 30px 0;
	padding-left: 30px;
	font-size: 30;
}

.fun
{
	background-color: #006872;
	border-radius: 0 30px 30px 0;
	padding-left: 30px;
}

.container
{
	width: 100%;
}

ul#menu {
    padding: 0;
}

ul#menu li {
    display: inline;
    width: 25%;
}

ul#menu li a {
    background-color: tan;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
    width: 25%;
}

ul#menu li a:hover {
    background-color: silver;
}